[submodule "vicon_bridge"]
	path = vicon_bridge
	url = https://github.com/ethz-asl/vicon_bridge

[submodule "mavlink_ros/include/mavlink/v2.0"]
	path = mavlink_ros/include/mavlink/v2.0
	url = https://github.com/mavlink/c_library
[submodule "mavlink_ros/include/mavlink/v1.0"]
	path = mavlink_ros/include/mavlink/v1.0
	url = https://github.com/mavlink/c_library
