*~
lmpc_v1/build/
px4_ros/build/
mavlink_ros/build/
mavlink_ros/msg_gen/
build/
msg_gen/

/control_input/bin/
/lmpc_v1/bin/
/lmpc_v1/src/lmpc_v1/msg/
/log_data/bin/
/log_data/logs/
/mavlink_ros/CMakeCache.txt
/mavlink_ros/CMakeFiles/
/mavlink_ros/bin/
/mavlink_ros/catkin/
/mavlink_ros/catkin_generated/
/mavlink_ros/cmake_install.cmake
/mavlink_ros/devel/
/mavlink_ros/gtest/
/moses_stuff/
/px4_ros/bin/
/px4_ros/src/px4_ros/msg/
/vicon_bridge/CMakeFiles/download_extra_data.dir/
/vicon_bridge/devel/
/vicon_bridge/docs/
/vicon_bridge/cmake/
/vicon_bridge/gtest/
/vicon_bridge/CMakeCache.txt
/vicon_bride/catkin/
/vicon_bridge/catkin_generated/
/vicon_bridge/CMakeFiles/
/vicon_bridge/test_results/
/vicon_bridge/cmake_install.cmake
/vicon_bridge/CTestTestfile.cmake
/vicon_bridge/Makefile
/vicon_bridge/setup_custom_pythpath.sh
