path_to_install=/home/dnovichman/ANU_GroundStation
vehicle_name_in_vicon=vicon/danaus16/danaus16
log_file_name=log1.txt
waypoints_file=/home/dnovichman/ANU_GroundStation/lmpc_v1/waypoints/waypoint_file.txt
port=80
ser_dev_address=/dev/ttyUSB0
baud_rate=921600
max_x=1.7
max_y=1.7
max_z=1.5
max_vxy=3
max_vz=1.5
wpt_bound=0.3
yaw_bound=0.2
